.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: "Inter", "Noto Serif",serif;
font-size: 16px;
line-height: 20px;
font-weight: 400px;
}

.header
{
padding: 30px 80px 40px;
position: relative;
background: #fff url("../images/background_header.svg") no-repeat center/cover;
min-height: 720px;
max-height: 800px;
box-sizing: border-box;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
display: flex;
flex-direction: column;
}

.header__title
 { 
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: -1px;
margin: 183px 0 0;
 }


 .header__description 
 { 
font-family: "Noto serif";
font-weight: normal;
font-size: 20px;
line-height: 30px;
max-width: 683px;
margin: 28px 0 0;
}

.header__image
{
position: absolute;
width: 646px;
top: 124px;
right: 5px;
}

.nav
{
 display: flex;   
 justify-content: space-between;
}


.nav__logo
{
    width: 105px;
    height: 35px;
    position: relative;
    left: -50px;
}

.nav__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 20px;
}

.nav__link { 
color: #000;
text-decoration: none;
font-weight: bold;
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.header__paragraph
{  
 z-index: 1;
 margin: 0;
 font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 color: #838383
}

 .span-accent
{ color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  }
.header__footer
{   
 font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 color: #838383;
 margin-top: auto;
 justify-content: space-between;
 display: flex;
 }